/* general */
html,
body {
  height: 100% !important;
  font-family: 'IBM Plex Sans', sans-serif;

}

h1,
h2,
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.row {
  height: 100% !important;
}

/* left bar */
.left {
  background: #282a36;
  color: #f8f8f2;
}

.left hr {
  border-color: #ff79c6;
}

.left a {
  color: #ff79c6;
}

/* right bar */
.right {
  background-color: #f8f8f2;
  font-size: 0.8em;
}

.right hr {
  border-color: #6272a4;
}

.right a {
  color: #ff79c6;
}
