html,
body {
  height: 100% !important;
  font-family: "Roboto", sans-serif;
  background-color: #f7ffeb;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

.row {
  height: 100% !important;
}

.col-4 {
  background: #ff4f40;
  color: #f7ffeb;
}

.col-8 {
  font-size: 0.8em;
}

a {
  color: #231f20;
}

hr {
  border-color: #231f20 !important;
}
